@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  /* Custom Scrollbar for a premium feel */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #050414; 
  }
  ::-webkit-scrollbar-thumb {
    background: #2a2542; 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #8245ec; 
  }
}

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
  }
  .clip-path-custom-2 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
  }
  .clip-path-custom-3 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
  }
}